*,
*:before,
*{
    margin: 0;
    padding: 0;
}

/* main page div */
#maindiv{
    border: 1px solid rebeccapurple;

}

                        /* header menu div */
.header{
    /* background-color: cyan; */
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
}
                        /* site logo and menu bar div */
#logo1{
    margin-left: 40px;
    margin-top: 13px;
    width: 78px;
    height: 67px;
    border: 1px solid rebeccapurple;
    
}

#menu{
    margin-left: 150px;
    height: 98px;
    position: absolute;
    display: flex;
    border: 1px solid blue;
}

.submenu{
    flex-wrap: wrap;
    padding-top: 33px;
    /* margin: 10px; */
    /* padding: 10px; */
}

.men{
    position: relative;
    width: 70px;
    height: 40px;
    font-weight: bold;
    float: left;
}

.women
        {
            
            position: relative;        
            /* left: 16%;
            bottom: 20px; */
            width: 100px;
            height: 40px;
            font-weight: bold;
            float: left;
    
        }

.kids
        {
            float: left;
            width: 70px;
            height: 40px;
            font-weight: bold;
            color: black;
             
        }

.home
        {
            float: left;
            width: 160px;
            height: 60px;
            font-weight: bold;
            color: black;
             
        }

.beauty
        {
            
            float: left;
            width: 100px;
            height: 40px;
            font-weight: bold;
        }

.studio
        { 
            position: relative;
            /*left: 40%;*/
            float: left;
            width: 100px;
            height: 40px;
            font-weight: bold;
             
        }
    

.font{
    text-decoration: none;
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    color:rgb(48, 45, 45);
    
}
                            /* search box div */
#search{
    margin-left: 780px;
    /* margin-top: 22px; */
    /* height: 150px; */
    padding-top: 24px;
    overflow: hidden;
    flex-wrap: wrap;
    border: 1px solid blue; 
    
}

.search-box{
    border: 1px solid black;
    overflow: hidden;
    border-radius: 4px;
    
    border: none;
    
}

input[type=text] {
    flex-wrap: wrap;
    padding: 11px;
    /* margin-top: 12px;  */
    font-size: 12px;
    font-family: sans-serif;
    background-color: #EEEEEE;
    /* border-radius: 8px; */
    border: none;
}

button{
    flex-wrap: wrap;
    /* margin-top: 1px; */
    float: left;
    background: #EEEEEE;
    /* color: white; */
    /* border-radius: 0 5px 5px 0; */
    cursor: pointer;
    position: relative;
    padding: 10px;
    /* font-family: sans-serif; */
    border: none;
    font-size: 16px;
}
                            /* profile logo and text */
#features{
    position: relative;
    display: flex;
    margin-left: 200px;
    padding-top: 16px;
    border: 1px solid black;
    
}

/* .feature-b a{
    text-decoration: none;
    color: black;
} */

.profilelogo{  flex-wrap: wrap;  
    margin-left: 45px;
}
.profilelogo:hover{
    color: #18bc9c;
}

.profile {
    text-decoration: none;
    color: black;
    font-size: small;
    margin-left: 45px;
    
}
.profile:hover{
    color: #18bc9c;
}

.wishlistlogo{flex-wrap: wrap;
    margin-left: 22px;
}

.wishlist{
    font-size: small;
    margin-left: 23px;
}

.baglogo{flex-wrap: wrap;
    margin-left: 20px;
}
.bag{
    font-size: small;
    margin-left: 28px;
}

                            /* image slider box */
.slider-box img{
    width: 100%;
    
}

#slider{
    width: 99.9%;
    position: relative;
    background-color: #EEEEEE;
    padding-top: 45px;
    border: 1px solid red; 
}

.slider-box{

    width: 99.9%;
    display: inline-flex;
    border: 1px solid red  
}
                            /* slider box */
.indicators{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.indicators span{
    display: inline block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.studio sup{
    font-size: 10px;
    color: red;
}
.text-banner {
    position: absolute;
    margin: 50px;
    margin-left: 20px;
    letter-spacing: .15em;
    /* text-align: justify; */
    font-family: Helvetica,Arial,sans-serif;
    color:rgb(48, 45, 45);
    /* border: 1px solid red; */

}
#image-banner{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    display: flex; 
    /* border: 1px solid red;  */
    
}
.banners{
    width: 310px;
    /* border: 1px solid red; */
    
}
#image-brands{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px; 
    /* border: 1px solid red;    */
}
.banner{
    width: 232px;
    /* border: 1px solid red; */
    
}
#bottom-menu{
    justify-content: center;
    display: flex;
    border: 1px solid green;

}
.bottom-menu0{
    margin: 5px;
    height: 200px;
    /* width: 160px; */
    border: 1px solid cyan;
}

.bottom-menu1{
    margin: 5px;
    height: 340px;
    width: 160px;
    border: 1px solid cyan;
}
.bottom-menu2{
    margin: 5px;
    height: 340px;
    width: 280px;
    border: 1px solid cyan;
}    


#os{
    font-size: 12px;
    font-weight: bold;
}
.new{
    font-size: 12px;

    color: #fff;
    padding: 0 5px;
    background: red;
    margin: 0 0 0 5px;
    border-radius: 20px;
}
.apstorelogo{
    height: 20%;
    width: 40%;
    
}
.socialicon{
    color: red;
    width: 10%;
}




